*.class
*.log

.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
.worksheet

notebooks/metastore_db/
notebooks/.ipynb_checkpoints/
notebooks/dot.ipynb_checkpoints
.ipynb_checkpoints/
tmp
